
############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


### Endnote Log
endnoteLog.txt


### InDesing Lock Files
*.idlk

### Local TestFiles 
publicTestFiles/

